[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
scipy = "*"
numpy = "*"
pandas = "*"
networkx = "*"
gravis = "*"
rdflib = "*"
matplotlib = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.12"
